<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All" verbose="1">
    <test name="Calculator" parallel="classes" thread-count="14">

        <classes>
            <class name="BooleanIsNegativeTest"/>
            <class name="BooleanIsPositiveTest"/>
            <class name="DoubleCosTest"/>
            <class name="DoubleCtgTest"/>
            <class name="DoubleDivTest"/>
            <class name="DoublePowTest"/>
            <class name="DoubleSinTest"/>
            <class name="DoubleSqrtTest"/>
            <class name="DoubleSubTest"/>
            <class name="DoubleSumTest"/>
            <class name="DoubleTgTest"/>
            <class name="LongDivTest"/>
            <class name="LongMultTest"/>
            <class name="LongSumTest"/>
        </classes>
    </test>

</suite>
